.footer {
  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1280px;
    margin-top: var(--size_xxxl);
    margin-bottom: var(--gap);
    margin-left: auto;
    margin-right: auto;
  }
}
