.event {
  min-height: 400px;

  &__content {
    flex-direction: column;
  }

  &__preview {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--size_xs);
    margin-bottom: var(--size_xxl);
  }

  &__title {
    margin-bottom: var(--size_s);
  }
}
