.product {
  min-height: 300px;

  &__content {
    width: 100%;
  }

  &__footer {
    display: flex;
    flex-direction: column;
  }

  &__image {
    height: 160px;
    width: 100%;

    .image {
      border-color: var(--color_default);
    }
  }

  &__title {
    margin-bottom: var(--size_xxxl);
  }
}
