.layout {
  $container-sizes: (
    s: 920px,
    m: 1280px,
  );

  $container-vertical-gaps: xxxxl, xxxxxl;

  $container-bottom-indents: xxl, xxxxl;

  &__container {
    &_align {
      &_center {
        margin-left: auto;
        margin-right: auto;
      }
    }

    &_size {
      @each $key, $size in $container-sizes {
        &_#{$key} {
          max-width: $size;
        }
      }
    }

    &_space-v {
      @each $size in $container-vertical-gaps {
        &_#{$size} {
          padding-top: var(--size_#{$size});
          padding-bottom: var(--size_#{$size});
        }
      }
    }

    &_indent-b {
      @each $size in $container-bottom-indents {
        &_#{$size} {
          margin-bottom: var(--size_#{$size});
        }
      }
    }
  }
}
