.text {
  $text-word-sizes: (
    s: (
      s: 20px,
      m: 48px,
      l: 100px,
    ),
    m: (
      s: 24px,
      m: 56px,
      l: 114px,
    ),
    l: (
      s: 28px,
      m: 68px,
      l: 138px,
    ),
    xl: (
      s: 32px,
      m: 74px,
      l: 154px,
    ),
    xxl: (
      s: 36px,
      m: 88px,
      l: 184px,
    ),
  );

  $text-margins: (
    h1: 18px 0 24px,
    h2: 45px 0 21px,
    h3: 42px 0 0,
    p: 15px 0 21px,
  );

  $text-colors: primary, secondary, ghost, link;

  &_align {
    &_center {
      text-align: center;
    }
  }

  &_size {
    @each $text-size, $word-sizes in $text-word-sizes {
      &_#{$text-size} {
        line-height: var(--line-height_#{$text-size});
        .text__word {
          display: inline-block;

          &_width {
            @each $word-modifier, $word-width in $word-sizes {
              &_#{$word-modifier} {
                width: $word-width;
                height: var(--font-size_#{$text-size});
              }
            }
          }
        }
      }
    }
  }

  &_type {
    @each $type, $margin in $text-margins {
      &_#{$type} {
        margin: $margin;
      }
    }
  }

  &_view {
    @each $color in $text-colors {
      &_#{$color} {
        .text__word {
          background-color: var(--text_#{$color});
        }
      }
    }
  }
}
