.text {
  $text-word-sizes: (
    s: (
      width: (
        s: 20px,
        m: 48px,
        l: 100px,
      ),
      height: 8px,
    ),
    m: (
      width: (
        s: 24px,
        m: 56px,
        l: 114px,
      ),
      height: 10px,
    ),
    l: (
      width: (
        s: 28px,
        m: 68px,
        l: 138px,
      ),
      height: 11px,
    ),
    xl: (
      width: (
        s: 32px,
        m: 74px,
        l: 154px,
      ),
      height: 13px,
    ),
    xxl: (
      width: (
        s: 36px,
        m: 88px,
        l: 184px,
      ),
      height: 16px,
    ),
  );

  $text-margins: (
    h1: 18px 0 24px,
    h2: 45px 0 21px,
    h3: 42px 0 0,
    p: 15px 0 21px,
  );

  $text-colors: primary, secondary, ghost, link;

  display: flex;

  &_align {
    &_center {
      justify-content: center;
    }
  }

  &_size {
    @each $text-size, $word-sizes in $text-word-sizes {
      &_#{$text-size} {
        height: var(--font-size_#{$text-size});

        .text__word {
          @each $word-modifier, $word-width in map-get($word-sizes, 'width') {
            &_#{$word-modifier} {
              width: $word-width;
            }
          }

          height: map-get($word-sizes, 'height');
        }
      }
    }
  }

  &_type {
    @each $type, $margin in $text-margins {
      &_#{$type} {
        margin: $margin;
      }
    }
  }

  &_view {
    @each $color in $text-colors {
      &_#{$color} {
        background-color: var(--text_#{$color});
      }
    }
  }
}
